.modal-default-sm {
  width: 100%;
  max-width: 384px;
  max-height: 84%;
  border: 4px solid black;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-118%); }
  .modal-default-sm > content > header {
    display: flex;
    align-items: center;
    color: black;
    padding: 4px;
    border-bottom: 2px solid #303030;
    background-color: #ececec;
    font-size: 1.6rem; }
    .modal-default-sm > content > header > .close-modal {
      color: #8c101b; }
    .modal-default-sm > content > header > span.title {
      flex: 1 1 auto;
      color: black;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-default-sm > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-default-sm > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-default-sm > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-default-sm > content > .body {
    padding: 16px;
    background-color: white; }

.modal-default-md {
  width: 100%;
  max-width: 522px;
  max-height: 84%;
  border: 4px solid black;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-74%); }
  .modal-default-md > content > header {
    display: flex;
    align-items: center;
    color: black;
    padding: 4px;
    border-bottom: 2px solid #303030;
    background-color: #ececec;
    font-size: 1.6rem; }
    .modal-default-md > content > header > .close-modal {
      color: #8c101b; }
    .modal-default-md > content > header > span.title {
      flex: 1 1 auto;
      color: black;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-default-md > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-default-md > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-default-md > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-default-md > content > .body {
    padding: 16px;
    background-color: white; }

.modal-default-lg {
  width: 100%;
  max-width: 734px;
  max-height: 84%;
  border: 4px solid black;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-54%); }
  .modal-default-lg > content > header {
    display: flex;
    align-items: center;
    color: black;
    padding: 4px;
    border-bottom: 2px solid #303030;
    background-color: #ececec;
    font-size: 1.6rem; }
    .modal-default-lg > content > header > .close-modal {
      color: #8c101b; }
    .modal-default-lg > content > header > span.title {
      flex: 1 1 auto;
      color: black;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-default-lg > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-default-lg > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-default-lg > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-default-lg > content > .body {
    padding: 16px;
    background-color: white; }

.modal-default-xl {
  width: 100%;
  max-width: 998px;
  max-height: 84%;
  border: 4px solid black;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-50%); }
  .modal-default-xl > content > header {
    display: flex;
    align-items: center;
    color: black;
    padding: 4px;
    border-bottom: 2px solid #303030;
    background-color: #ececec;
    font-size: 1.6rem; }
    .modal-default-xl > content > header > .close-modal {
      color: #8c101b; }
    .modal-default-xl > content > header > span.title {
      flex: 1 1 auto;
      color: black;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-default-xl > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-default-xl > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-default-xl > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-default-xl > content > .body {
    padding: 16px;
    background-color: white; }

.modal-primary-sm {
  width: 100%;
  max-width: 384px;
  max-height: 84%;
  border: 4px solid #8b480e;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-118%); }
  .modal-primary-sm > content > header {
    display: flex;
    align-items: center;
    color: #2e1805;
    padding: 4px;
    border-bottom: 2px solid #b06c31;
    background-color: #fbf5f0;
    font-size: 1.6rem; }
    .modal-primary-sm > content > header > .close-modal {
      color: #8c101b; }
    .modal-primary-sm > content > header > span.title {
      flex: 1 1 auto;
      color: #8b480e;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-primary-sm > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-primary-sm > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-primary-sm > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-primary-sm > content > .body {
    padding: 16px;
    background-color: white; }

.modal-primary-md {
  width: 100%;
  max-width: 522px;
  max-height: 84%;
  border: 4px solid #8b480e;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-74%); }
  .modal-primary-md > content > header {
    display: flex;
    align-items: center;
    color: #2e1805;
    padding: 4px;
    border-bottom: 2px solid #b06c31;
    background-color: #fbf5f0;
    font-size: 1.6rem; }
    .modal-primary-md > content > header > .close-modal {
      color: #8c101b; }
    .modal-primary-md > content > header > span.title {
      flex: 1 1 auto;
      color: #8b480e;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-primary-md > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-primary-md > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-primary-md > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-primary-md > content > .body {
    padding: 16px;
    background-color: white; }

.modal-primary-lg {
  width: 100%;
  max-width: 734px;
  max-height: 84%;
  border: 4px solid #8b480e;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-54%); }
  .modal-primary-lg > content > header {
    display: flex;
    align-items: center;
    color: #2e1805;
    padding: 4px;
    border-bottom: 2px solid #b06c31;
    background-color: #fbf5f0;
    font-size: 1.6rem; }
    .modal-primary-lg > content > header > .close-modal {
      color: #8c101b; }
    .modal-primary-lg > content > header > span.title {
      flex: 1 1 auto;
      color: #8b480e;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-primary-lg > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-primary-lg > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-primary-lg > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-primary-lg > content > .body {
    padding: 16px;
    background-color: white; }

.modal-primary-xl {
  width: 100%;
  max-width: 998px;
  max-height: 84%;
  border: 4px solid #8b480e;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-50%); }
  .modal-primary-xl > content > header {
    display: flex;
    align-items: center;
    color: #2e1805;
    padding: 4px;
    border-bottom: 2px solid #b06c31;
    background-color: #fbf5f0;
    font-size: 1.6rem; }
    .modal-primary-xl > content > header > .close-modal {
      color: #8c101b; }
    .modal-primary-xl > content > header > span.title {
      flex: 1 1 auto;
      color: #8b480e;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-primary-xl > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-primary-xl > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-primary-xl > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-primary-xl > content > .body {
    padding: 16px;
    background-color: white; }

.modal-success-sm {
  width: 100%;
  max-width: 384px;
  max-height: 84%;
  border: 4px solid #195f34;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-118%); }
  .modal-success-sm > content > header {
    display: flex;
    align-items: center;
    color: #113f22;
    padding: 4px;
    border-bottom: 2px solid #238649;
    background-color: #edfcf3;
    font-size: 1.6rem; }
    .modal-success-sm > content > header > .close-modal {
      color: #8c101b; }
    .modal-success-sm > content > header > span.title {
      flex: 1 1 auto;
      color: #195f34;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-success-sm > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-success-sm > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-success-sm > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-success-sm > content > .body {
    padding: 16px;
    background-color: white; }

.modal-success-md {
  width: 100%;
  max-width: 522px;
  max-height: 84%;
  border: 4px solid #195f34;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-74%); }
  .modal-success-md > content > header {
    display: flex;
    align-items: center;
    color: #113f22;
    padding: 4px;
    border-bottom: 2px solid #238649;
    background-color: #edfcf3;
    font-size: 1.6rem; }
    .modal-success-md > content > header > .close-modal {
      color: #8c101b; }
    .modal-success-md > content > header > span.title {
      flex: 1 1 auto;
      color: #195f34;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-success-md > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-success-md > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-success-md > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-success-md > content > .body {
    padding: 16px;
    background-color: white; }

.modal-success-lg {
  width: 100%;
  max-width: 734px;
  max-height: 84%;
  border: 4px solid #195f34;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-54%); }
  .modal-success-lg > content > header {
    display: flex;
    align-items: center;
    color: #113f22;
    padding: 4px;
    border-bottom: 2px solid #238649;
    background-color: #edfcf3;
    font-size: 1.6rem; }
    .modal-success-lg > content > header > .close-modal {
      color: #8c101b; }
    .modal-success-lg > content > header > span.title {
      flex: 1 1 auto;
      color: #195f34;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-success-lg > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-success-lg > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-success-lg > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-success-lg > content > .body {
    padding: 16px;
    background-color: white; }

.modal-success-xl {
  width: 100%;
  max-width: 998px;
  max-height: 84%;
  border: 4px solid #195f34;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-50%); }
  .modal-success-xl > content > header {
    display: flex;
    align-items: center;
    color: #113f22;
    padding: 4px;
    border-bottom: 2px solid #238649;
    background-color: #edfcf3;
    font-size: 1.6rem; }
    .modal-success-xl > content > header > .close-modal {
      color: #8c101b; }
    .modal-success-xl > content > header > span.title {
      flex: 1 1 auto;
      color: #195f34;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-success-xl > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-success-xl > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-success-xl > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-success-xl > content > .body {
    padding: 16px;
    background-color: white; }

.modal-danger-sm {
  width: 100%;
  max-width: 384px;
  max-height: 84%;
  border: 4px solid #8c101b;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-118%); }
  .modal-danger-sm > content > header {
    display: flex;
    align-items: center;
    color: #8c101b;
    padding: 4px;
    border-bottom: 2px solid #a12d37;
    background-color: #fff3f4;
    font-size: 1.6rem; }
    .modal-danger-sm > content > header > .close-modal {
      color: #8c101b; }
    .modal-danger-sm > content > header > span.title {
      flex: 1 1 auto;
      color: #8c101b;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-danger-sm > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-danger-sm > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-danger-sm > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-danger-sm > content > .body {
    padding: 16px;
    background-color: white; }

.modal-danger-md {
  width: 100%;
  max-width: 522px;
  max-height: 84%;
  border: 4px solid #8c101b;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-74%); }
  .modal-danger-md > content > header {
    display: flex;
    align-items: center;
    color: #8c101b;
    padding: 4px;
    border-bottom: 2px solid #a12d37;
    background-color: #fff3f4;
    font-size: 1.6rem; }
    .modal-danger-md > content > header > .close-modal {
      color: #8c101b; }
    .modal-danger-md > content > header > span.title {
      flex: 1 1 auto;
      color: #8c101b;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-danger-md > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-danger-md > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-danger-md > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-danger-md > content > .body {
    padding: 16px;
    background-color: white; }

.modal-danger-lg {
  width: 100%;
  max-width: 734px;
  max-height: 84%;
  border: 4px solid #8c101b;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-54%); }
  .modal-danger-lg > content > header {
    display: flex;
    align-items: center;
    color: #8c101b;
    padding: 4px;
    border-bottom: 2px solid #a12d37;
    background-color: #fff3f4;
    font-size: 1.6rem; }
    .modal-danger-lg > content > header > .close-modal {
      color: #8c101b; }
    .modal-danger-lg > content > header > span.title {
      flex: 1 1 auto;
      color: #8c101b;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-danger-lg > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-danger-lg > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-danger-lg > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-danger-lg > content > .body {
    padding: 16px;
    background-color: white; }

.modal-danger-xl {
  width: 100%;
  max-width: 998px;
  max-height: 84%;
  border: 4px solid #8c101b;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-50%); }
  .modal-danger-xl > content > header {
    display: flex;
    align-items: center;
    color: #8c101b;
    padding: 4px;
    border-bottom: 2px solid #a12d37;
    background-color: #fff3f4;
    font-size: 1.6rem; }
    .modal-danger-xl > content > header > .close-modal {
      color: #8c101b; }
    .modal-danger-xl > content > header > span.title {
      flex: 1 1 auto;
      color: #8c101b;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-danger-xl > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-danger-xl > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-danger-xl > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-danger-xl > content > .body {
    padding: 16px;
    background-color: white; }

.modal-warning-sm {
  width: 100%;
  max-width: 384px;
  max-height: 84%;
  border: 4px solid #ffbf00;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-118%); }
  .modal-warning-sm > content > header {
    display: flex;
    align-items: center;
    color: #856300;
    padding: 4px;
    border-bottom: 2px solid #ffd24a;
    background-color: #fff2cb;
    font-size: 1.6rem; }
    .modal-warning-sm > content > header > .close-modal {
      color: #8c101b; }
    .modal-warning-sm > content > header > span.title {
      flex: 1 1 auto;
      color: #ffbf00;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-warning-sm > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-warning-sm > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-warning-sm > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-warning-sm > content > .body {
    padding: 16px;
    background-color: white; }

.modal-warning-md {
  width: 100%;
  max-width: 522px;
  max-height: 84%;
  border: 4px solid #ffbf00;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-74%); }
  .modal-warning-md > content > header {
    display: flex;
    align-items: center;
    color: #856300;
    padding: 4px;
    border-bottom: 2px solid #ffd24a;
    background-color: #fff2cb;
    font-size: 1.6rem; }
    .modal-warning-md > content > header > .close-modal {
      color: #8c101b; }
    .modal-warning-md > content > header > span.title {
      flex: 1 1 auto;
      color: #ffbf00;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-warning-md > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-warning-md > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-warning-md > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-warning-md > content > .body {
    padding: 16px;
    background-color: white; }

.modal-warning-lg {
  width: 100%;
  max-width: 734px;
  max-height: 84%;
  border: 4px solid #ffbf00;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-54%); }
  .modal-warning-lg > content > header {
    display: flex;
    align-items: center;
    color: #856300;
    padding: 4px;
    border-bottom: 2px solid #ffd24a;
    background-color: #fff2cb;
    font-size: 1.6rem; }
    .modal-warning-lg > content > header > .close-modal {
      color: #8c101b; }
    .modal-warning-lg > content > header > span.title {
      flex: 1 1 auto;
      color: #ffbf00;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-warning-lg > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-warning-lg > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-warning-lg > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-warning-lg > content > .body {
    padding: 16px;
    background-color: white; }

.modal-warning-xl {
  width: 100%;
  max-width: 998px;
  max-height: 84%;
  border: 4px solid #ffbf00;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-50%); }
  .modal-warning-xl > content > header {
    display: flex;
    align-items: center;
    color: #856300;
    padding: 4px;
    border-bottom: 2px solid #ffd24a;
    background-color: #fff2cb;
    font-size: 1.6rem; }
    .modal-warning-xl > content > header > .close-modal {
      color: #8c101b; }
    .modal-warning-xl > content > header > span.title {
      flex: 1 1 auto;
      color: #ffbf00;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-warning-xl > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-warning-xl > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-warning-xl > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-warning-xl > content > .body {
    padding: 16px;
    background-color: white; }

.modal-info-sm {
  width: 100%;
  max-width: 384px;
  max-height: 84%;
  border: 4px solid #2894aa;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-118%); }
  .modal-info-sm > content > header {
    display: flex;
    align-items: center;
    color: #175360;
    padding: 4px;
    border-bottom: 2px solid #46a3b6;
    background-color: #fbfefe;
    font-size: 1.6rem; }
    .modal-info-sm > content > header > .close-modal {
      color: #8c101b; }
    .modal-info-sm > content > header > span.title {
      flex: 1 1 auto;
      color: #2894aa;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-info-sm > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-info-sm > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-info-sm > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-info-sm > content > .body {
    padding: 16px;
    background-color: white; }

.modal-info-md {
  width: 100%;
  max-width: 522px;
  max-height: 84%;
  border: 4px solid #2894aa;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-74%); }
  .modal-info-md > content > header {
    display: flex;
    align-items: center;
    color: #175360;
    padding: 4px;
    border-bottom: 2px solid #46a3b6;
    background-color: #fbfefe;
    font-size: 1.6rem; }
    .modal-info-md > content > header > .close-modal {
      color: #8c101b; }
    .modal-info-md > content > header > span.title {
      flex: 1 1 auto;
      color: #2894aa;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-info-md > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-info-md > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-info-md > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-info-md > content > .body {
    padding: 16px;
    background-color: white; }

.modal-info-lg {
  width: 100%;
  max-width: 734px;
  max-height: 84%;
  border: 4px solid #2894aa;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-54%); }
  .modal-info-lg > content > header {
    display: flex;
    align-items: center;
    color: #175360;
    padding: 4px;
    border-bottom: 2px solid #46a3b6;
    background-color: #fbfefe;
    font-size: 1.6rem; }
    .modal-info-lg > content > header > .close-modal {
      color: #8c101b; }
    .modal-info-lg > content > header > span.title {
      flex: 1 1 auto;
      color: #2894aa;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-info-lg > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-info-lg > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-info-lg > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-info-lg > content > .body {
    padding: 16px;
    background-color: white; }

.modal-info-xl {
  width: 100%;
  max-width: 998px;
  max-height: 84%;
  border: 4px solid #2894aa;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-50%); }
  .modal-info-xl > content > header {
    display: flex;
    align-items: center;
    color: #175360;
    padding: 4px;
    border-bottom: 2px solid #46a3b6;
    background-color: #fbfefe;
    font-size: 1.6rem; }
    .modal-info-xl > content > header > .close-modal {
      color: #8c101b; }
    .modal-info-xl > content > header > span.title {
      flex: 1 1 auto;
      color: #2894aa;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-info-xl > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-info-xl > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-info-xl > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-info-xl > content > .body {
    padding: 16px;
    background-color: white; }

.modal-light-sm {
  width: 100%;
  max-width: 384px;
  max-height: 84%;
  border: 4px solid #a19b9b;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-118%); }
  .modal-light-sm > content > header {
    display: flex;
    align-items: center;
    color: #a19b9b;
    padding: 4px;
    border-bottom: 2px solid #bbb3b3;
    background-color: #f7f2f2;
    font-size: 1.6rem; }
    .modal-light-sm > content > header > .close-modal {
      color: #8c101b; }
    .modal-light-sm > content > header > span.title {
      flex: 1 1 auto;
      color: #a19b9b;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-light-sm > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-light-sm > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-light-sm > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-light-sm > content > .body {
    padding: 16px;
    background-color: white; }

.modal-light-md {
  width: 100%;
  max-width: 522px;
  max-height: 84%;
  border: 4px solid #a19b9b;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-74%); }
  .modal-light-md > content > header {
    display: flex;
    align-items: center;
    color: #a19b9b;
    padding: 4px;
    border-bottom: 2px solid #bbb3b3;
    background-color: #f7f2f2;
    font-size: 1.6rem; }
    .modal-light-md > content > header > .close-modal {
      color: #8c101b; }
    .modal-light-md > content > header > span.title {
      flex: 1 1 auto;
      color: #a19b9b;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-light-md > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-light-md > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-light-md > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-light-md > content > .body {
    padding: 16px;
    background-color: white; }

.modal-light-lg {
  width: 100%;
  max-width: 734px;
  max-height: 84%;
  border: 4px solid #a19b9b;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-54%); }
  .modal-light-lg > content > header {
    display: flex;
    align-items: center;
    color: #a19b9b;
    padding: 4px;
    border-bottom: 2px solid #bbb3b3;
    background-color: #f7f2f2;
    font-size: 1.6rem; }
    .modal-light-lg > content > header > .close-modal {
      color: #8c101b; }
    .modal-light-lg > content > header > span.title {
      flex: 1 1 auto;
      color: #a19b9b;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-light-lg > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-light-lg > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-light-lg > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-light-lg > content > .body {
    padding: 16px;
    background-color: white; }

.modal-light-xl {
  width: 100%;
  max-width: 998px;
  max-height: 84%;
  border: 4px solid #a19b9b;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-50%); }
  .modal-light-xl > content > header {
    display: flex;
    align-items: center;
    color: #a19b9b;
    padding: 4px;
    border-bottom: 2px solid #bbb3b3;
    background-color: #f7f2f2;
    font-size: 1.6rem; }
    .modal-light-xl > content > header > .close-modal {
      color: #8c101b; }
    .modal-light-xl > content > header > span.title {
      flex: 1 1 auto;
      color: #a19b9b;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-light-xl > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-light-xl > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-light-xl > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-light-xl > content > .body {
    padding: 16px;
    background-color: white; }

.modal-dark-sm {
  width: 100%;
  max-width: 384px;
  max-height: 84%;
  border: 4px solid #161616;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-118%); }
  .modal-dark-sm > content > header {
    display: flex;
    align-items: center;
    color: #c3c3c3;
    padding: 4px;
    border-bottom: 2px solid #2c2c2c;
    background-color: #2c2c2c;
    font-size: 1.6rem; }
    .modal-dark-sm > content > header > .close-modal {
      color: #d7d7d7; }
    .modal-dark-sm > content > header > span.title {
      flex: 1 1 auto;
      color: #161616;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-dark-sm > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-dark-sm > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-dark-sm > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-dark-sm > content > .body {
    padding: 16px;
    background-color: white; }

.modal-dark-md {
  width: 100%;
  max-width: 522px;
  max-height: 84%;
  border: 4px solid #161616;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-74%); }
  .modal-dark-md > content > header {
    display: flex;
    align-items: center;
    color: #c3c3c3;
    padding: 4px;
    border-bottom: 2px solid #2c2c2c;
    background-color: #2c2c2c;
    font-size: 1.6rem; }
    .modal-dark-md > content > header > .close-modal {
      color: #d7d7d7; }
    .modal-dark-md > content > header > span.title {
      flex: 1 1 auto;
      color: #161616;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-dark-md > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-dark-md > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-dark-md > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-dark-md > content > .body {
    padding: 16px;
    background-color: white; }

.modal-dark-lg {
  width: 100%;
  max-width: 734px;
  max-height: 84%;
  border: 4px solid #161616;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-54%); }
  .modal-dark-lg > content > header {
    display: flex;
    align-items: center;
    color: #c3c3c3;
    padding: 4px;
    border-bottom: 2px solid #2c2c2c;
    background-color: #2c2c2c;
    font-size: 1.6rem; }
    .modal-dark-lg > content > header > .close-modal {
      color: #d7d7d7; }
    .modal-dark-lg > content > header > span.title {
      flex: 1 1 auto;
      color: #161616;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-dark-lg > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-dark-lg > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-dark-lg > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-dark-lg > content > .body {
    padding: 16px;
    background-color: white; }

.modal-dark-xl {
  width: 100%;
  max-width: 998px;
  max-height: 84%;
  border: 4px solid #161616;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-50%); }
  .modal-dark-xl > content > header {
    display: flex;
    align-items: center;
    color: #c3c3c3;
    padding: 4px;
    border-bottom: 2px solid #2c2c2c;
    background-color: #2c2c2c;
    font-size: 1.6rem; }
    .modal-dark-xl > content > header > .close-modal {
      color: #d7d7d7; }
    .modal-dark-xl > content > header > span.title {
      flex: 1 1 auto;
      color: #161616;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-dark-xl > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-dark-xl > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-dark-xl > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-dark-xl > content > .body {
    padding: 16px;
    background-color: white; }

.modal-antan-sm {
  width: 100%;
  max-width: 384px;
  max-height: 84%;
  border: 4px solid #fe2f00;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-118%); }
  .modal-antan-sm > content > header {
    display: flex;
    align-items: center;
    color: #fe2f00;
    padding: 4px;
    border-bottom: 2px solid #c44b30;
    background-color: #f9edeb;
    font-size: 1.6rem; }
    .modal-antan-sm > content > header > .close-modal {
      color: #8c101b; }
    .modal-antan-sm > content > header > span.title {
      flex: 1 1 auto;
      color: #fe2f00;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-antan-sm > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-antan-sm > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-antan-sm > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-antan-sm > content > .body {
    padding: 16px;
    background-color: white; }

.modal-antan-md {
  width: 100%;
  max-width: 522px;
  max-height: 84%;
  border: 4px solid #fe2f00;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-74%); }
  .modal-antan-md > content > header {
    display: flex;
    align-items: center;
    color: #fe2f00;
    padding: 4px;
    border-bottom: 2px solid #c44b30;
    background-color: #f9edeb;
    font-size: 1.6rem; }
    .modal-antan-md > content > header > .close-modal {
      color: #8c101b; }
    .modal-antan-md > content > header > span.title {
      flex: 1 1 auto;
      color: #fe2f00;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-antan-md > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-antan-md > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-antan-md > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-antan-md > content > .body {
    padding: 16px;
    background-color: white; }

.modal-antan-lg {
  width: 100%;
  max-width: 734px;
  max-height: 84%;
  border: 4px solid #fe2f00;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-54%); }
  .modal-antan-lg > content > header {
    display: flex;
    align-items: center;
    color: #fe2f00;
    padding: 4px;
    border-bottom: 2px solid #c44b30;
    background-color: #f9edeb;
    font-size: 1.6rem; }
    .modal-antan-lg > content > header > .close-modal {
      color: #8c101b; }
    .modal-antan-lg > content > header > span.title {
      flex: 1 1 auto;
      color: #fe2f00;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-antan-lg > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-antan-lg > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-antan-lg > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-antan-lg > content > .body {
    padding: 16px;
    background-color: white; }

.modal-antan-xl {
  width: 100%;
  max-width: 998px;
  max-height: 84%;
  border: 4px solid #fe2f00;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-50%); }
  .modal-antan-xl > content > header {
    display: flex;
    align-items: center;
    color: #fe2f00;
    padding: 4px;
    border-bottom: 2px solid #c44b30;
    background-color: #f9edeb;
    font-size: 1.6rem; }
    .modal-antan-xl > content > header > .close-modal {
      color: #8c101b; }
    .modal-antan-xl > content > header > span.title {
      flex: 1 1 auto;
      color: #fe2f00;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-antan-xl > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-antan-xl > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-antan-xl > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-antan-xl > content > .body {
    padding: 16px;
    background-color: white; }

.modal-notify-sm {
  width: 100%;
  max-width: 384px;
  max-height: 84%;
  border: 4px solid #07294e;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-118%); }
  .modal-notify-sm > content > header {
    display: flex;
    align-items: center;
    color: #07294e;
    padding: 4px;
    border-bottom: 2px solid #1c436d;
    background-color: #c1cfde;
    font-size: 1.6rem; }
    .modal-notify-sm > content > header > .close-modal {
      color: #8c101b; }
    .modal-notify-sm > content > header > span.title {
      flex: 1 1 auto;
      color: #07294e;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-notify-sm > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-notify-sm > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-notify-sm > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-notify-sm > content > .body {
    padding: 16px;
    background-color: white; }

.modal-notify-md {
  width: 100%;
  max-width: 522px;
  max-height: 84%;
  border: 4px solid #07294e;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-74%); }
  .modal-notify-md > content > header {
    display: flex;
    align-items: center;
    color: #07294e;
    padding: 4px;
    border-bottom: 2px solid #1c436d;
    background-color: #c1cfde;
    font-size: 1.6rem; }
    .modal-notify-md > content > header > .close-modal {
      color: #8c101b; }
    .modal-notify-md > content > header > span.title {
      flex: 1 1 auto;
      color: #07294e;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-notify-md > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-notify-md > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-notify-md > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-notify-md > content > .body {
    padding: 16px;
    background-color: white; }

.modal-notify-lg {
  width: 100%;
  max-width: 734px;
  max-height: 84%;
  border: 4px solid #07294e;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-54%); }
  .modal-notify-lg > content > header {
    display: flex;
    align-items: center;
    color: #07294e;
    padding: 4px;
    border-bottom: 2px solid #1c436d;
    background-color: #c1cfde;
    font-size: 1.6rem; }
    .modal-notify-lg > content > header > .close-modal {
      color: #8c101b; }
    .modal-notify-lg > content > header > span.title {
      flex: 1 1 auto;
      color: #07294e;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-notify-lg > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-notify-lg > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-notify-lg > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-notify-lg > content > .body {
    padding: 16px;
    background-color: white; }

.modal-notify-xl {
  width: 100%;
  max-width: 998px;
  max-height: 84%;
  border: 4px solid #07294e;
  border-radius: 6px;
  padding: 0px;
  z-index: 99;
  position: fixed;
  top: 18px;
  box-shadow: 3px 3px #474747;
  left: 50%;
  transform: translate(-50%); }
  .modal-notify-xl > content > header {
    display: flex;
    align-items: center;
    color: #07294e;
    padding: 4px;
    border-bottom: 2px solid #1c436d;
    background-color: #c1cfde;
    font-size: 1.6rem; }
    .modal-notify-xl > content > header > .close-modal {
      color: #8c101b; }
    .modal-notify-xl > content > header > span.title {
      flex: 1 1 auto;
      color: #07294e;
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .modal-notify-xl > content > header > .hide-modal {
      flex: 0 0 26px; }
      .modal-notify-xl > content > header > .hide-modal > .icon {
        color: #800505;
        margin: 4px;
        font-size: 1.1rem; }
        .modal-notify-xl > content > header > .hide-modal > .icon:hover {
          color: #a70707; }
  .modal-notify-xl > content > .body {
    padding: 16px;
    background-color: white; }

#modalBackground {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 98; }
