.flex {
  display: flex; }
  .flex-wrap {
    display: flex;
    flex-wrap: wrap; }
  .flex-no-wrap {
    display: flex;
    flex-wrap: nowrap; }
  .flex-reverse {
    display: flex;
    flex-wrap: wrap-reverse; }
  .flex-even {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    align-content: center; }
    .flex-even > * {
      flex: 1 1 auto; }
  .flex-center {
    display: flex;
    justify-content: center; }
    .flex-center-base {
      display: flex;
      justify-content: center;
      align-items: baseline; }
    .flex-center-center {
      display: flex;
      justify-content: center;
      align-items: center; }
    .flex-center-end {
      display: flex;
      justify-content: center;
      align-items: flex-end; }
    .flex-center-start {
      display: flex;
      justify-content: center;
      align-items: flex-start; }
    .flex-center-stretch {
      display: flex;
      justify-content: center;
      align-items: stretch; }
  .flex-end {
    display: flex;
    justify-content: flex-end; }
    .flex-end-base {
      display: flex;
      justify-content: flex-end;
      align-items: baseline; }
    .flex-end-center {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
    .flex-end-end {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end; }
    .flex-end-start {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start; }
    .flex-end-stretch {
      display: flex;
      justify-content: flex-end;
      align-items: stretch; }
  .flex-start {
    display: flex;
    justify-content: flex-start; }
    .flex-start-base {
      display: flex;
      justify-content: flex-start;
      align-items: baseline; }
    .flex-start-center {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
    .flex-start-end {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end; }
    .flex-start-start {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start; }
    .flex-start-stretch {
      display: flex;
      justify-content: flex-start;
      align-items: stretch; }
  .flex-around {
    display: flex;
    justify-content: space-around; }
    .flex-around-base {
      display: flex;
      justify-content: space-around;
      align-items: baseline; }
    .flex-around-center {
      display: flex;
      justify-content: space-around;
      align-items: center; }
    .flex-around-end {
      display: flex;
      justify-content: space-around;
      align-items: flex-end; }
    .flex-around-start {
      display: flex;
      justify-content: space-around;
      align-items: flex-start; }
    .flex-around-stretch {
      display: flex;
      justify-content: space-around;
      align-items: stretch; }
  .flex-between {
    display: flex;
    justify-content: space-between; }
    .flex-between-base {
      display: flex;
      justify-content: space-between;
      align-items: baseline; }
    .flex-between-center {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .flex-between-end {
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
    .flex-between-start {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; }
    .flex-between-stretch {
      display: flex;
      justify-content: space-between;
      align-items: stretch; }
