.notify-bar-top-three {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  left: 0;
  right: 0;
  min-height: 28px;
  top: 0;
  bottom: unset;
  box-shadow: 0 4px 22px -2px black;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px; }
  .notify-bar-top-three.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-bar-top-three.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-bar-top-three.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-bar-top-three.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-bar-top-three.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-bar-top-three.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-bar-top-three.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-bar-top-three.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-bar-top-three.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-bar-top-three.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-bar-top-three.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-bar-top-three.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-bar-top-five {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  left: 0;
  right: 0;
  min-height: 28px;
  top: 0;
  bottom: unset;
  box-shadow: 0 4px 22px -2px black;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px; }
  .notify-bar-top-five.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-bar-top-five.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-bar-top-five.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-bar-top-five.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-bar-top-five.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-bar-top-five.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-bar-top-five.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-bar-top-five.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-bar-top-five.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-bar-top-five.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-bar-top-five.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-bar-top-five.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-bar-top-eight {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  left: 0;
  right: 0;
  min-height: 28px;
  top: 0;
  bottom: unset;
  box-shadow: 0 4px 22px -2px black;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px; }
  .notify-bar-top-eight.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-bar-top-eight.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-bar-top-eight.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-bar-top-eight.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-bar-top-eight.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-bar-top-eight.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-bar-top-eight.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-bar-top-eight.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-bar-top-eight.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-bar-top-eight.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-bar-top-eight.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-bar-top-eight.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-bar-top-fourteen {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  left: 0;
  right: 0;
  min-height: 28px;
  top: 0;
  bottom: unset;
  box-shadow: 0 4px 22px -2px black;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px; }
  .notify-bar-top-fourteen.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-bar-top-fourteen.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-bar-top-fourteen.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-bar-top-fourteen.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-bar-top-fourteen.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-bar-top-fourteen.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-bar-top-fourteen.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-bar-top-fourteen.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-bar-top-fourteen.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-bar-top-fourteen.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-bar-top-fourteen.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-bar-top-fourteen.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-bar-top-twenty {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  left: 0;
  right: 0;
  min-height: 28px;
  top: 0;
  bottom: unset;
  box-shadow: 0 4px 22px -2px black;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px; }
  .notify-bar-top-twenty.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-bar-top-twenty.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-bar-top-twenty.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-bar-top-twenty.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-bar-top-twenty.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-bar-top-twenty.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-bar-top-twenty.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-bar-top-twenty.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-bar-top-twenty.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-bar-top-twenty.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-bar-top-twenty.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-bar-top-twenty.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-bar-top-permanent {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  left: 0;
  right: 0;
  min-height: 28px;
  top: 0;
  bottom: unset;
  box-shadow: 0 4px 22px -2px black;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px; }
  .notify-bar-top-permanent.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-bar-top-permanent.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-bar-top-permanent.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-bar-top-permanent.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-bar-top-permanent.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-bar-top-permanent.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-bar-top-permanent.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-bar-top-permanent.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-bar-top-permanent.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-bar-top-permanent.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-bar-top-permanent.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-bar-top-permanent.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-bar-bottom-three {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  left: 0;
  right: 0;
  min-height: 28px;
  bottom: 0;
  top: unset;
  box-shadow: 0 -4px 22px black;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px; }
  .notify-bar-bottom-three.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-bar-bottom-three.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-bar-bottom-three.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-bar-bottom-three.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-bar-bottom-three.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-bar-bottom-three.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-bar-bottom-three.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-bar-bottom-three.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-bar-bottom-three.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-bar-bottom-three.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-bar-bottom-three.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-bar-bottom-three.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-bar-bottom-five {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  left: 0;
  right: 0;
  min-height: 28px;
  bottom: 0;
  top: unset;
  box-shadow: 0 -4px 22px black;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px; }
  .notify-bar-bottom-five.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-bar-bottom-five.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-bar-bottom-five.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-bar-bottom-five.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-bar-bottom-five.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-bar-bottom-five.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-bar-bottom-five.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-bar-bottom-five.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-bar-bottom-five.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-bar-bottom-five.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-bar-bottom-five.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-bar-bottom-five.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-bar-bottom-eight {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  left: 0;
  right: 0;
  min-height: 28px;
  bottom: 0;
  top: unset;
  box-shadow: 0 -4px 22px black;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px; }
  .notify-bar-bottom-eight.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-bar-bottom-eight.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-bar-bottom-eight.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-bar-bottom-eight.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-bar-bottom-eight.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-bar-bottom-eight.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-bar-bottom-eight.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-bar-bottom-eight.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-bar-bottom-eight.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-bar-bottom-eight.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-bar-bottom-eight.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-bar-bottom-eight.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-bar-bottom-fourteen {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  left: 0;
  right: 0;
  min-height: 28px;
  bottom: 0;
  top: unset;
  box-shadow: 0 -4px 22px black;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px; }
  .notify-bar-bottom-fourteen.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-bar-bottom-fourteen.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-bar-bottom-fourteen.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-bar-bottom-fourteen.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-bar-bottom-fourteen.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-bar-bottom-fourteen.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-bar-bottom-fourteen.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-bar-bottom-fourteen.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-bar-bottom-fourteen.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-bar-bottom-fourteen.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-bar-bottom-fourteen.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-bar-bottom-fourteen.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-bar-bottom-twenty {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  left: 0;
  right: 0;
  min-height: 28px;
  bottom: 0;
  top: unset;
  box-shadow: 0 -4px 22px black;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px; }
  .notify-bar-bottom-twenty.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-bar-bottom-twenty.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-bar-bottom-twenty.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-bar-bottom-twenty.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-bar-bottom-twenty.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-bar-bottom-twenty.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-bar-bottom-twenty.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-bar-bottom-twenty.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-bar-bottom-twenty.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-bar-bottom-twenty.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-bar-bottom-twenty.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-bar-bottom-twenty.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-bar-bottom-permanent {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  left: 0;
  right: 0;
  min-height: 28px;
  bottom: 0;
  top: unset;
  box-shadow: 0 -4px 22px black;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px; }
  .notify-bar-bottom-permanent.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-bar-bottom-permanent.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-bar-bottom-permanent.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-bar-bottom-permanent.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-bar-bottom-permanent.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-bar-bottom-permanent.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-bar-bottom-permanent.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-bar-bottom-permanent.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-bar-bottom-permanent.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-bar-bottom-permanent.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-bar-bottom-permanent.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-bar-bottom-permanent.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-top-three {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 38px;
  bottom: unset; }
  .notify-box-top-three.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-top-three.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-top-three.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-top-three.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-top-three.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-top-three.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-top-three.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-top-three.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-top-three.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-top-three.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-top-three.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-top-three.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-top-five {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 38px;
  bottom: unset; }
  .notify-box-top-five.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-top-five.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-top-five.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-top-five.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-top-five.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-top-five.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-top-five.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-top-five.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-top-five.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-top-five.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-top-five.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-top-five.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-top-eight {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 38px;
  bottom: unset; }
  .notify-box-top-eight.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-top-eight.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-top-eight.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-top-eight.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-top-eight.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-top-eight.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-top-eight.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-top-eight.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-top-eight.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-top-eight.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-top-eight.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-top-eight.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-top-fourteen {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 38px;
  bottom: unset; }
  .notify-box-top-fourteen.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-top-fourteen.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-top-fourteen.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-top-fourteen.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-top-fourteen.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-top-fourteen.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-top-fourteen.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-top-fourteen.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-top-fourteen.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-top-fourteen.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-top-fourteen.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-top-fourteen.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-top-twenty {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 38px;
  bottom: unset; }
  .notify-box-top-twenty.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-top-twenty.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-top-twenty.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-top-twenty.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-top-twenty.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-top-twenty.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-top-twenty.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-top-twenty.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-top-twenty.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-top-twenty.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-top-twenty.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-top-twenty.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-top-permanent {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 38px;
  bottom: unset; }
  .notify-box-top-permanent.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-top-permanent.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-top-permanent.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-top-permanent.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-top-permanent.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-top-permanent.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-top-permanent.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-top-permanent.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-top-permanent.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-top-permanent.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-top-permanent.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-top-permanent.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-bottom-three {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  left: 50%;
  transform: translate(-50%, -50%);
  top: unset;
  bottom: 0; }
  .notify-box-bottom-three.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-bottom-three.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-bottom-three.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-bottom-three.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-bottom-three.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-bottom-three.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-bottom-three.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-bottom-three.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-bottom-three.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-bottom-three.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-bottom-three.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-bottom-three.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-bottom-five {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  left: 50%;
  transform: translate(-50%, -50%);
  top: unset;
  bottom: 0; }
  .notify-box-bottom-five.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-bottom-five.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-bottom-five.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-bottom-five.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-bottom-five.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-bottom-five.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-bottom-five.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-bottom-five.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-bottom-five.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-bottom-five.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-bottom-five.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-bottom-five.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-bottom-eight {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  left: 50%;
  transform: translate(-50%, -50%);
  top: unset;
  bottom: 0; }
  .notify-box-bottom-eight.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-bottom-eight.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-bottom-eight.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-bottom-eight.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-bottom-eight.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-bottom-eight.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-bottom-eight.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-bottom-eight.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-bottom-eight.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-bottom-eight.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-bottom-eight.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-bottom-eight.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-bottom-fourteen {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  left: 50%;
  transform: translate(-50%, -50%);
  top: unset;
  bottom: 0; }
  .notify-box-bottom-fourteen.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-bottom-fourteen.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-bottom-fourteen.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-bottom-fourteen.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-bottom-fourteen.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-bottom-fourteen.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-bottom-fourteen.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-bottom-fourteen.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-bottom-fourteen.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-bottom-fourteen.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-bottom-fourteen.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-bottom-fourteen.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-bottom-twenty {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  left: 50%;
  transform: translate(-50%, -50%);
  top: unset;
  bottom: 0; }
  .notify-box-bottom-twenty.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-bottom-twenty.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-bottom-twenty.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-bottom-twenty.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-bottom-twenty.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-bottom-twenty.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-bottom-twenty.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-bottom-twenty.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-bottom-twenty.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-bottom-twenty.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-bottom-twenty.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-bottom-twenty.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-bottom-permanent {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  left: 50%;
  transform: translate(-50%, -50%);
  top: unset;
  bottom: 0; }
  .notify-box-bottom-permanent.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-bottom-permanent.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-bottom-permanent.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-bottom-permanent.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-bottom-permanent.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-bottom-permanent.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-bottom-permanent.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-bottom-permanent.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-bottom-permanent.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-bottom-permanent.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-bottom-permanent.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-bottom-permanent.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-left-three {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  top: 50%;
  transform: translateY(-50%); }
  .notify-box-left-three.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-left-three.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-left-three.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-left-three.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-left-three.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-left-three.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-left-three.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-left-three.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-left-three.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-left-three.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-left-three.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-left-three.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-left-five {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  top: 50%;
  transform: translateY(-50%); }
  .notify-box-left-five.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-left-five.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-left-five.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-left-five.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-left-five.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-left-five.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-left-five.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-left-five.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-left-five.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-left-five.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-left-five.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-left-five.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-left-eight {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  top: 50%;
  transform: translateY(-50%); }
  .notify-box-left-eight.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-left-eight.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-left-eight.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-left-eight.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-left-eight.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-left-eight.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-left-eight.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-left-eight.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-left-eight.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-left-eight.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-left-eight.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-left-eight.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-left-fourteen {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  top: 50%;
  transform: translateY(-50%); }
  .notify-box-left-fourteen.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-left-fourteen.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-left-fourteen.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-left-fourteen.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-left-fourteen.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-left-fourteen.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-left-fourteen.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-left-fourteen.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-left-fourteen.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-left-fourteen.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-left-fourteen.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-left-fourteen.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-left-twenty {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  top: 50%;
  transform: translateY(-50%); }
  .notify-box-left-twenty.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-left-twenty.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-left-twenty.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-left-twenty.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-left-twenty.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-left-twenty.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-left-twenty.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-left-twenty.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-left-twenty.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-left-twenty.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-left-twenty.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-left-twenty.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-left-permanent {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  top: 50%;
  transform: translateY(-50%); }
  .notify-box-left-permanent.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-left-permanent.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-left-permanent.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-left-permanent.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-left-permanent.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-left-permanent.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-left-permanent.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-left-permanent.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-left-permanent.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-left-permanent.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-left-permanent.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-left-permanent.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-right-three {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  top: 50%;
  transform: translateY(-50%);
  left: unset;
  right: 16px; }
  .notify-box-right-three.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-right-three.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-right-three.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-right-three.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-right-three.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-right-three.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-right-three.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-right-three.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-right-three.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-right-three.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-right-three.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-right-three.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-right-five {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  top: 50%;
  transform: translateY(-50%);
  left: unset;
  right: 16px; }
  .notify-box-right-five.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-right-five.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-right-five.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-right-five.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-right-five.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-right-five.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-right-five.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-right-five.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-right-five.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-right-five.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-right-five.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-right-five.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-right-eight {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  top: 50%;
  transform: translateY(-50%);
  left: unset;
  right: 16px; }
  .notify-box-right-eight.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-right-eight.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-right-eight.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-right-eight.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-right-eight.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-right-eight.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-right-eight.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-right-eight.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-right-eight.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-right-eight.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-right-eight.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-right-eight.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-right-fourteen {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  top: 50%;
  transform: translateY(-50%);
  left: unset;
  right: 16px; }
  .notify-box-right-fourteen.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-right-fourteen.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-right-fourteen.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-right-fourteen.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-right-fourteen.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-right-fourteen.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-right-fourteen.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-right-fourteen.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-right-fourteen.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-right-fourteen.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-right-fourteen.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-right-fourteen.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-right-twenty {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  top: 50%;
  transform: translateY(-50%);
  left: unset;
  right: 16px; }
  .notify-box-right-twenty.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-right-twenty.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-right-twenty.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-right-twenty.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-right-twenty.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-right-twenty.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-right-twenty.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-right-twenty.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-right-twenty.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-right-twenty.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-right-twenty.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-right-twenty.cp-funk {
    background-color: #165992;
    color: #9fcef6; }

.notify-box-right-permanent {
  position: fixed;
  transition: all 0.8s;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 14px;
  box-shadow: 0 0 12px 8px black;
  top: 50%;
  transform: translateY(-50%);
  left: unset;
  right: 16px; }
  .notify-box-right-permanent.show {
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1; }
  .notify-box-right-permanent.cp-default {
    background-color: black;
    color: #ececec; }
  .notify-box-right-permanent.cp-primary {
    background-color: #8b480e;
    color: #efdbc9; }
  .notify-box-right-permanent.cp-success {
    background-color: #195f34;
    color: #a0edbd; }
  .notify-box-right-permanent.cp-danger {
    background-color: #8c101b;
    color: #ffcacf; }
  .notify-box-right-permanent.cp-warning {
    background-color: #ffbf00;
    color: #fff2cb; }
  .notify-box-right-permanent.cp-info {
    background-color: #2894aa;
    color: #c4e7ee; }
  .notify-box-right-permanent.cp-light {
    background-color: #a19b9b;
    color: #f7f2f2; }
  .notify-box-right-permanent.cp-dark {
    background-color: #161616;
    color: #c3c3c3; }
  .notify-box-right-permanent.cp-antan {
    background-color: #fe2f00;
    color: #e8bdb4; }
  .notify-box-right-permanent.cp-notify {
    background-color: #07294e;
    color: #c1cfde; }
  .notify-box-right-permanent.cp-funk {
    background-color: #165992;
    color: #9fcef6; }
