.position-absolute {
  position: absolute; }
  .position-absolute-force {
    position: absolute !important; }
  .position-absolute-left {
    position: absolute;
    left: 0;
    right: unset; }
    .position-absolute-left-force {
      position: absolute !important;
      left: 0 !important;
      right: unset !important; }
    .position-absolute-left-top {
      position: absolute;
      left: 0;
      right: unset;
      top: 0;
      bottom: unset; }
      .position-absolute-left-top-force {
        position: absolute !important;
        left: 0 !important;
        right: unset !important;
        top: 0 !important;
        bottom: unset !important; }
    .position-absolute-left-bottom {
      position: absolute;
      left: 0;
      right: unset;
      bottom: 0;
      top: unset; }
      .position-absolute-left-bottom-force {
        position: absolute !important;
        left: 0 !important;
        right: unset !important;
        bottom: 0 !important;
        top: unset !important; }
    .position-absolute-left-top-bottom {
      position: absolute;
      left: 0;
      right: unset;
      top: 0;
      bottom: 0; }
      .position-absolute-left-top-bottom-force {
        position: absolute !important;
        left: 0 !important;
        right: unset !important;
        top: 0 !important;
        bottom: 0 !important; }
  .position-absolute-fill {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .position-absolute-fill-force {
      left: 0 !important;
      right: 0 !important;
      top: 0 !important;
      bottom: 0 !important; }
  .position-absolute-top {
    position: absolute;
    top: 0;
    bottom: unset; }
    .position-absolute-top-force {
      position: absolute !important;
      top: 0 !important;
      bottom: unset !important; }
    .position-absolute-top-left {
      position: absolute;
      top: 0;
      bottom: unset;
      left: 0;
      right: unset; }
      .position-absolute-top-left-force {
        position: absolute !important;
        top: 0 !important;
        bottom: unset !important;
        left: 0 !important;
        right: unset !important; }
    .position-absolute-top-left-right {
      position: absolute;
      top: 0;
      bottom: unset;
      left: 0;
      right: 0; }
      .position-absolute-top-left-right-force {
        position: absolute !important;
        top: 0 !important;
        bottom: unset !important;
        left: 0 !important;
        right: 0 !important; }
  .position-absolute-fill {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .position-absolute-fill-force {
      left: 0 !important;
      right: 0 !important;
      top: 0 !important;
      bottom: 0 !important; }
  .position-absolute-right {
    position: absolute;
    right: 0;
    left: unset; }
    .position-absolute-right-force {
      position: absolute !important;
      right: 0 !important;
      left: unset !important; }
    .position-absolute-right-top {
      position: absolute;
      right: 0;
      left: unset;
      top: 0;
      bottom: unset; }
      .position-absolute-right-top-force {
        position: absolute !important;
        right: 0 !important;
        left: unset !important;
        top: 0 !important;
        bottom: unset !important; }
    .position-absolute-right-bottom {
      position: absolute;
      right: 0;
      left: unset;
      bottom: 0;
      top: unset; }
      .position-absolute-right-bottom-force {
        position: absolute !important;
        right: 0 !important;
        left: unset !important;
        bottom: 0 !important;
        top: unset !important; }
    .position-absolute-right-top-bottom {
      position: absolute;
      right: 0;
      left: unset;
      top: 0;
      bottom: 0; }
      .position-absolute-right-top-bottom-force {
        position: absolute !important;
        right: 0 !important;
        left: unset !important;
        top: 0 !important;
        bottom: 0 !important; }
  .position-absolute-fill {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .position-absolute-fill-force {
      left: 0 !important;
      right: 0 !important;
      top: 0 !important;
      bottom: 0 !important; }
  .position-absolute-bottom {
    position: absolute;
    bottom: 0;
    top: unset; }
    .position-absolute-bottom-force {
      position: absolute !important;
      bottom: 0 !important;
      top: unset !important; }
    .position-absolute-bottom-left {
      position: absolute;
      bottom: 0;
      top: unset;
      left: 0;
      right: unset; }
      .position-absolute-bottom-left-force {
        position: absolute !important;
        bottom: 0 !important;
        top: unset !important;
        left: 0 !important;
        right: unset !important; }
    .position-absolute-bottom-right {
      position: absolute;
      bottom: 0;
      top: unset;
      right: 0;
      left: unset; }
      .position-absolute-bottom-right-force {
        position: absolute !important;
        bottom: 0 !important;
        top: unset !important;
        right: 0 !important;
        left: unset !important; }
    .position-absolute-bottom-left-right {
      position: absolute;
      bottom: 0;
      top: unset;
      left: 0;
      right: 0; }
      .position-absolute-bottom-left-right-force {
        position: absolute !important;
        bottom: 0 !important;
        top: unset !important;
        left: 0 !important;
        right: 0 !important; }
  .position-absolute-fill {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .position-absolute-fill-force {
      left: 0 !important;
      right: 0 !important;
      top: 0 !important;
      bottom: 0 !important; }

.position-fixed {
  position: fixed; }
  .position-fixed-force {
    position: fixed !important; }
  .position-fixed-left {
    position: fixed;
    left: 0;
    right: unset; }
    .position-fixed-left-force {
      position: fixed !important;
      left: 0 !important;
      right: unset !important; }
    .position-fixed-left-top {
      position: fixed;
      left: 0;
      right: unset;
      top: 0;
      bottom: unset; }
      .position-fixed-left-top-force {
        position: fixed !important;
        left: 0 !important;
        right: unset !important;
        top: 0 !important;
        bottom: unset !important; }
    .position-fixed-left-bottom {
      position: fixed;
      left: 0;
      right: unset;
      bottom: 0;
      top: unset; }
      .position-fixed-left-bottom-force {
        position: fixed !important;
        left: 0 !important;
        right: unset !important;
        bottom: 0 !important;
        top: unset !important; }
    .position-fixed-left-top-bottom {
      position: fixed;
      left: 0;
      right: unset;
      top: 0;
      bottom: 0; }
      .position-fixed-left-top-bottom-force {
        position: fixed !important;
        left: 0 !important;
        right: unset !important;
        top: 0 !important;
        bottom: 0 !important; }
  .position-fixed-fill {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .position-fixed-fill-force {
      left: 0 !important;
      right: 0 !important;
      top: 0 !important;
      bottom: 0 !important; }
  .position-fixed-top {
    position: fixed;
    top: 0;
    bottom: unset; }
    .position-fixed-top-force {
      position: fixed !important;
      top: 0 !important;
      bottom: unset !important; }
    .position-fixed-top-left {
      position: fixed;
      top: 0;
      bottom: unset;
      left: 0;
      right: unset; }
      .position-fixed-top-left-force {
        position: fixed !important;
        top: 0 !important;
        bottom: unset !important;
        left: 0 !important;
        right: unset !important; }
    .position-fixed-top-left-right {
      position: fixed;
      top: 0;
      bottom: unset;
      left: 0;
      right: 0; }
      .position-fixed-top-left-right-force {
        position: fixed !important;
        top: 0 !important;
        bottom: unset !important;
        left: 0 !important;
        right: 0 !important; }
  .position-fixed-fill {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .position-fixed-fill-force {
      left: 0 !important;
      right: 0 !important;
      top: 0 !important;
      bottom: 0 !important; }
  .position-fixed-right {
    position: fixed;
    right: 0;
    left: unset; }
    .position-fixed-right-force {
      position: fixed !important;
      right: 0 !important;
      left: unset !important; }
    .position-fixed-right-top {
      position: fixed;
      right: 0;
      left: unset;
      top: 0;
      bottom: unset; }
      .position-fixed-right-top-force {
        position: fixed !important;
        right: 0 !important;
        left: unset !important;
        top: 0 !important;
        bottom: unset !important; }
    .position-fixed-right-bottom {
      position: fixed;
      right: 0;
      left: unset;
      bottom: 0;
      top: unset; }
      .position-fixed-right-bottom-force {
        position: fixed !important;
        right: 0 !important;
        left: unset !important;
        bottom: 0 !important;
        top: unset !important; }
    .position-fixed-right-top-bottom {
      position: fixed;
      right: 0;
      left: unset;
      top: 0;
      bottom: 0; }
      .position-fixed-right-top-bottom-force {
        position: fixed !important;
        right: 0 !important;
        left: unset !important;
        top: 0 !important;
        bottom: 0 !important; }
  .position-fixed-fill {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .position-fixed-fill-force {
      left: 0 !important;
      right: 0 !important;
      top: 0 !important;
      bottom: 0 !important; }
  .position-fixed-bottom {
    position: fixed;
    bottom: 0;
    top: unset; }
    .position-fixed-bottom-force {
      position: fixed !important;
      bottom: 0 !important;
      top: unset !important; }
    .position-fixed-bottom-left {
      position: fixed;
      bottom: 0;
      top: unset;
      left: 0;
      right: unset; }
      .position-fixed-bottom-left-force {
        position: fixed !important;
        bottom: 0 !important;
        top: unset !important;
        left: 0 !important;
        right: unset !important; }
    .position-fixed-bottom-right {
      position: fixed;
      bottom: 0;
      top: unset;
      right: 0;
      left: unset; }
      .position-fixed-bottom-right-force {
        position: fixed !important;
        bottom: 0 !important;
        top: unset !important;
        right: 0 !important;
        left: unset !important; }
    .position-fixed-bottom-left-right {
      position: fixed;
      bottom: 0;
      top: unset;
      left: 0;
      right: 0; }
      .position-fixed-bottom-left-right-force {
        position: fixed !important;
        bottom: 0 !important;
        top: unset !important;
        left: 0 !important;
        right: 0 !important; }
  .position-fixed-fill {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .position-fixed-fill-force {
      left: 0 !important;
      right: 0 !important;
      top: 0 !important;
      bottom: 0 !important; }

.position-relative {
  position: relative; }
  .position-relative-force {
    position: relative !important; }

.position-sticky {
  position: sticky; }
  .position-sticky-force {
    position: sticky !important; }
  .position-sticky-left {
    position: sticky;
    left: 0;
    right: unset; }
    .position-sticky-left-force {
      position: sticky !important;
      left: 0 !important;
      right: unset !important; }
    .position-sticky-left-top {
      position: sticky;
      left: 0;
      right: unset;
      top: 0;
      bottom: unset; }
      .position-sticky-left-top-force {
        position: sticky !important;
        left: 0 !important;
        right: unset !important;
        top: 0 !important;
        bottom: unset !important; }
    .position-sticky-left-bottom {
      position: sticky;
      left: 0;
      right: unset;
      bottom: 0;
      top: unset; }
      .position-sticky-left-bottom-force {
        position: sticky !important;
        left: 0 !important;
        right: unset !important;
        bottom: 0 !important;
        top: unset !important; }
    .position-sticky-left-top-bottom {
      position: sticky;
      left: 0;
      right: unset;
      top: 0;
      bottom: 0; }
      .position-sticky-left-top-bottom-force {
        position: sticky !important;
        left: 0 !important;
        right: unset !important;
        top: 0 !important;
        bottom: 0 !important; }
  .position-sticky-fill {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .position-sticky-fill-force {
      left: 0 !important;
      right: 0 !important;
      top: 0 !important;
      bottom: 0 !important; }
  .position-sticky-top {
    position: sticky;
    top: 0;
    bottom: unset; }
    .position-sticky-top-force {
      position: sticky !important;
      top: 0 !important;
      bottom: unset !important; }
    .position-sticky-top-left {
      position: sticky;
      top: 0;
      bottom: unset;
      left: 0;
      right: unset; }
      .position-sticky-top-left-force {
        position: sticky !important;
        top: 0 !important;
        bottom: unset !important;
        left: 0 !important;
        right: unset !important; }
    .position-sticky-top-left-right {
      position: sticky;
      top: 0;
      bottom: unset;
      left: 0;
      right: 0; }
      .position-sticky-top-left-right-force {
        position: sticky !important;
        top: 0 !important;
        bottom: unset !important;
        left: 0 !important;
        right: 0 !important; }
  .position-sticky-fill {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .position-sticky-fill-force {
      left: 0 !important;
      right: 0 !important;
      top: 0 !important;
      bottom: 0 !important; }
  .position-sticky-right {
    position: sticky;
    right: 0;
    left: unset; }
    .position-sticky-right-force {
      position: sticky !important;
      right: 0 !important;
      left: unset !important; }
    .position-sticky-right-top {
      position: sticky;
      right: 0;
      left: unset;
      top: 0;
      bottom: unset; }
      .position-sticky-right-top-force {
        position: sticky !important;
        right: 0 !important;
        left: unset !important;
        top: 0 !important;
        bottom: unset !important; }
    .position-sticky-right-bottom {
      position: sticky;
      right: 0;
      left: unset;
      bottom: 0;
      top: unset; }
      .position-sticky-right-bottom-force {
        position: sticky !important;
        right: 0 !important;
        left: unset !important;
        bottom: 0 !important;
        top: unset !important; }
    .position-sticky-right-top-bottom {
      position: sticky;
      right: 0;
      left: unset;
      top: 0;
      bottom: 0; }
      .position-sticky-right-top-bottom-force {
        position: sticky !important;
        right: 0 !important;
        left: unset !important;
        top: 0 !important;
        bottom: 0 !important; }
  .position-sticky-fill {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .position-sticky-fill-force {
      left: 0 !important;
      right: 0 !important;
      top: 0 !important;
      bottom: 0 !important; }
  .position-sticky-bottom {
    position: sticky;
    bottom: 0;
    top: unset; }
    .position-sticky-bottom-force {
      position: sticky !important;
      bottom: 0 !important;
      top: unset !important; }
    .position-sticky-bottom-left {
      position: sticky;
      bottom: 0;
      top: unset;
      left: 0;
      right: unset; }
      .position-sticky-bottom-left-force {
        position: sticky !important;
        bottom: 0 !important;
        top: unset !important;
        left: 0 !important;
        right: unset !important; }
    .position-sticky-bottom-right {
      position: sticky;
      bottom: 0;
      top: unset;
      right: 0;
      left: unset; }
      .position-sticky-bottom-right-force {
        position: sticky !important;
        bottom: 0 !important;
        top: unset !important;
        right: 0 !important;
        left: unset !important; }
    .position-sticky-bottom-left-right {
      position: sticky;
      bottom: 0;
      top: unset;
      left: 0;
      right: 0; }
      .position-sticky-bottom-left-right-force {
        position: sticky !important;
        bottom: 0 !important;
        top: unset !important;
        left: 0 !important;
        right: 0 !important; }
  .position-sticky-fill {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .position-sticky-fill-force {
      left: 0 !important;
      right: 0 !important;
      top: 0 !important;
      bottom: 0 !important; }

.position-initial {
  position: initial; }
  .position-initial-force {
    position: initial !important; }

.position-inherit {
  position: inherit; }
  .position-inherit-force {
    position: inherit !important; }

.position-clear {
  position: static; }
  .position-clear-force {
    position: static !important; }

.pos-center {
  margin: auto; }
  .pos-center-force {
    margin: auto !important; }
