[class^="media-retina-"] {
  display: none;
  visibility: hidden; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .retina-125 {
    display: block;
    visibility: visible; }
    .retina-125-inline {
      display: inline-block;
      visibility: visible; } }

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
  .retina-13 {
    display: block;
    visibility: visible; }
    .retina-13-inline {
      display: inline-block;
      visibility: visible; } }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .retina-15 {
    display: block;
    visibility: visible; }
    .retina-15-inline {
      display: inline-block;
      visibility: visible; } }

@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .retina-2 {
    display: block;
    visibility: visible; }
    .retina-2-inline {
      display: inline-block;
      visibility: visible; } }

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) and (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .media-retina {
    display: block;
    visibility: visible; }
    .media-retina-inline {
      display: inline-block;
      visibility: visible; } }
