.h1 {
  font-size: 4.4rem; }
  .h1.bold {
    font-weight: bold; }
  .h1.airy {
    margin: 16px; }

@media (min-width: 576px) {
  .h1 {
    font-size: 5.2rem; }
    .h1.airy {
      margin: 16px; }
      .h1.airy-force {
        margin: 16px !important; } }

@media (min-width: 768px) {
  .h1 {
    font-size: 5.2rem; }
    .h1.airy {
      margin: 24px; }
      .h1.airy-force {
        margin: 24px !important; } }

@media (min-width: 992px) {
  .h1 {
    font-size: 5.2rem; }
    .h1.airy {
      margin: 32px; }
      .h1.airy-force {
        margin: 32px !important; } }

@media (min-width: 1200px) {
  .h1 {
    font-size: 5.2rem; }
    .h1.airy {
      margin: 40px; }
      .h1.airy-force {
        margin: 40px !important; } }

.h2 {
  font-size: 3.6rem; }
  .h2.bold {
    font-weight: bold; }
  .h2.airy {
    margin: 16px; }

@media (min-width: 576px) {
  .h2 {
    font-size: 4rem; }
    .h2.airy {
      margin: 16px; }
      .h2.airy-force {
        margin: 16px !important; } }

@media (min-width: 768px) {
  .h2 {
    font-size: 4rem; }
    .h2.airy {
      margin: 24px; }
      .h2.airy-force {
        margin: 24px !important; } }

@media (min-width: 992px) {
  .h2 {
    font-size: 4rem; }
    .h2.airy {
      margin: 32px; }
      .h2.airy-force {
        margin: 32px !important; } }

@media (min-width: 1200px) {
  .h2 {
    font-size: 4rem; }
    .h2.airy {
      margin: 40px; }
      .h2.airy-force {
        margin: 40px !important; } }

.h3 {
  font-size: 3rem; }
  .h3.bold {
    font-weight: bold; }
  .h3.airy {
    margin: 16px; }

@media (min-width: 576px) {
  .h3 {
    font-size: 3.5rem; }
    .h3.airy {
      margin: 16px; }
      .h3.airy-force {
        margin: 16px !important; } }

@media (min-width: 768px) {
  .h3 {
    font-size: 3.5rem; }
    .h3.airy {
      margin: 24px; }
      .h3.airy-force {
        margin: 24px !important; } }

@media (min-width: 992px) {
  .h3 {
    font-size: 3.5rem; }
    .h3.airy {
      margin: 32px; }
      .h3.airy-force {
        margin: 32px !important; } }

@media (min-width: 1200px) {
  .h3 {
    font-size: 3.5rem; }
    .h3.airy {
      margin: 40px; }
      .h3.airy-force {
        margin: 40px !important; } }

.h4 {
  font-size: 2.2rem; }
  .h4.bold {
    font-weight: bold; }
  .h4.airy {
    margin: 16px; }

@media (min-width: 576px) {
  .h4 {
    font-size: 2.8rem; }
    .h4.airy {
      margin: 16px; }
      .h4.airy-force {
        margin: 16px !important; } }

@media (min-width: 768px) {
  .h4 {
    font-size: 2.8rem; }
    .h4.airy {
      margin: 24px; }
      .h4.airy-force {
        margin: 24px !important; } }

@media (min-width: 992px) {
  .h4 {
    font-size: 2.8rem; }
    .h4.airy {
      margin: 32px; }
      .h4.airy-force {
        margin: 32px !important; } }

@media (min-width: 1200px) {
  .h4 {
    font-size: 2.8rem; }
    .h4.airy {
      margin: 40px; }
      .h4.airy-force {
        margin: 40px !important; } }

.h5 {
  font-size: 1.7rem; }
  .h5.bold {
    font-weight: bold; }
  .h5.airy {
    margin: 16px; }

@media (min-width: 576px) {
  .h5 {
    font-size: 2rem; }
    .h5.airy {
      margin: 16px; }
      .h5.airy-force {
        margin: 16px !important; } }

@media (min-width: 768px) {
  .h5 {
    font-size: 2rem; }
    .h5.airy {
      margin: 24px; }
      .h5.airy-force {
        margin: 24px !important; } }

@media (min-width: 992px) {
  .h5 {
    font-size: 2rem; }
    .h5.airy {
      margin: 32px; }
      .h5.airy-force {
        margin: 32px !important; } }

@media (min-width: 1200px) {
  .h5 {
    font-size: 2rem; }
    .h5.airy {
      margin: 40px; }
      .h5.airy-force {
        margin: 40px !important; } }

.h6 {
  font-size: 1.2rem; }
  .h6.bold {
    font-weight: bold; }
  .h6.airy {
    margin: 16px; }

@media (min-width: 576px) {
  .h6 {
    font-size: 1.6rem; }
    .h6.airy {
      margin: 16px; }
      .h6.airy-force {
        margin: 16px !important; } }

@media (min-width: 768px) {
  .h6 {
    font-size: 1.6rem; }
    .h6.airy {
      margin: 24px; }
      .h6.airy-force {
        margin: 24px !important; } }

@media (min-width: 992px) {
  .h6 {
    font-size: 1.6rem; }
    .h6.airy {
      margin: 32px; }
      .h6.airy-force {
        margin: 32px !important; } }

@media (min-width: 1200px) {
  .h6 {
    font-size: 1.6rem; }
    .h6.airy {
      margin: 40px; }
      .h6.airy-force {
        margin: 40px !important; } }

.h7 {
  font-size: 0.8rem; }
  .h7.bold {
    font-weight: bold; }
  .h7.airy {
    margin: 16px; }

@media (min-width: 576px) {
  .h7 {
    font-size: 1rem; }
    .h7.airy {
      margin: 16px; }
      .h7.airy-force {
        margin: 16px !important; } }

@media (min-width: 768px) {
  .h7 {
    font-size: 1rem; }
    .h7.airy {
      margin: 24px; }
      .h7.airy-force {
        margin: 24px !important; } }

@media (min-width: 992px) {
  .h7 {
    font-size: 1rem; }
    .h7.airy {
      margin: 32px; }
      .h7.airy-force {
        margin: 32px !important; } }

@media (min-width: 1200px) {
  .h7 {
    font-size: 1rem; }
    .h7.airy {
      margin: 40px; }
      .h7.airy-force {
        margin: 40px !important; } }

.f-1 {
  font-size: 0.8rem; }

@media (min-width: 0px) {
  .f-1-xs {
    font-size: 0.8rem; }
    .f-1-xs.airy {
      margin: 10px; }
      .f-1-xs.airy-force {
        margin: 10px !important; } }

@media (min-width: 576px) {
  .f-1-sm {
    font-size: 0.8rem; }
    .f-1-sm.airy {
      margin: 16px; }
      .f-1-sm.airy-force {
        margin: 16px !important; } }

@media (min-width: 768px) {
  .f-1-md {
    font-size: 0.8rem; }
    .f-1-md.airy {
      margin: 24px; }
      .f-1-md.airy-force {
        margin: 24px !important; } }

@media (min-width: 992px) {
  .f-1-lg {
    font-size: 0.8rem; }
    .f-1-lg.airy {
      margin: 32px; }
      .f-1-lg.airy-force {
        margin: 32px !important; } }

@media (min-width: 1200px) {
  .f-1-xl {
    font-size: 0.8rem; }
    .f-1-xl.airy {
      margin: 40px; }
      .f-1-xl.airy-force {
        margin: 40px !important; } }

.f-2 {
  font-size: 1.3rem; }

@media (min-width: 0px) {
  .f-2-xs {
    font-size: 1.3rem; }
    .f-2-xs.airy {
      margin: 10px; }
      .f-2-xs.airy-force {
        margin: 10px !important; } }

@media (min-width: 576px) {
  .f-2-sm {
    font-size: 1.3rem; }
    .f-2-sm.airy {
      margin: 16px; }
      .f-2-sm.airy-force {
        margin: 16px !important; } }

@media (min-width: 768px) {
  .f-2-md {
    font-size: 1.3rem; }
    .f-2-md.airy {
      margin: 24px; }
      .f-2-md.airy-force {
        margin: 24px !important; } }

@media (min-width: 992px) {
  .f-2-lg {
    font-size: 1.3rem; }
    .f-2-lg.airy {
      margin: 32px; }
      .f-2-lg.airy-force {
        margin: 32px !important; } }

@media (min-width: 1200px) {
  .f-2-xl {
    font-size: 1.3rem; }
    .f-2-xl.airy {
      margin: 40px; }
      .f-2-xl.airy-force {
        margin: 40px !important; } }

.f-3 {
  font-size: 1.8rem; }

@media (min-width: 0px) {
  .f-3-xs {
    font-size: 1.8rem; }
    .f-3-xs.airy {
      margin: 10px; }
      .f-3-xs.airy-force {
        margin: 10px !important; } }

@media (min-width: 576px) {
  .f-3-sm {
    font-size: 1.8rem; }
    .f-3-sm.airy {
      margin: 16px; }
      .f-3-sm.airy-force {
        margin: 16px !important; } }

@media (min-width: 768px) {
  .f-3-md {
    font-size: 1.8rem; }
    .f-3-md.airy {
      margin: 24px; }
      .f-3-md.airy-force {
        margin: 24px !important; } }

@media (min-width: 992px) {
  .f-3-lg {
    font-size: 1.8rem; }
    .f-3-lg.airy {
      margin: 32px; }
      .f-3-lg.airy-force {
        margin: 32px !important; } }

@media (min-width: 1200px) {
  .f-3-xl {
    font-size: 1.8rem; }
    .f-3-xl.airy {
      margin: 40px; }
      .f-3-xl.airy-force {
        margin: 40px !important; } }

.f-4 {
  font-size: 2.2rem; }

@media (min-width: 0px) {
  .f-4-xs {
    font-size: 2.2rem; }
    .f-4-xs.airy {
      margin: 10px; }
      .f-4-xs.airy-force {
        margin: 10px !important; } }

@media (min-width: 576px) {
  .f-4-sm {
    font-size: 2.2rem; }
    .f-4-sm.airy {
      margin: 16px; }
      .f-4-sm.airy-force {
        margin: 16px !important; } }

@media (min-width: 768px) {
  .f-4-md {
    font-size: 2.2rem; }
    .f-4-md.airy {
      margin: 24px; }
      .f-4-md.airy-force {
        margin: 24px !important; } }

@media (min-width: 992px) {
  .f-4-lg {
    font-size: 2.2rem; }
    .f-4-lg.airy {
      margin: 32px; }
      .f-4-lg.airy-force {
        margin: 32px !important; } }

@media (min-width: 1200px) {
  .f-4-xl {
    font-size: 2.2rem; }
    .f-4-xl.airy {
      margin: 40px; }
      .f-4-xl.airy-force {
        margin: 40px !important; } }

.f-5 {
  font-size: 2.8rem; }

@media (min-width: 0px) {
  .f-5-xs {
    font-size: 2.8rem; }
    .f-5-xs.airy {
      margin: 10px; }
      .f-5-xs.airy-force {
        margin: 10px !important; } }

@media (min-width: 576px) {
  .f-5-sm {
    font-size: 2.8rem; }
    .f-5-sm.airy {
      margin: 16px; }
      .f-5-sm.airy-force {
        margin: 16px !important; } }

@media (min-width: 768px) {
  .f-5-md {
    font-size: 2.8rem; }
    .f-5-md.airy {
      margin: 24px; }
      .f-5-md.airy-force {
        margin: 24px !important; } }

@media (min-width: 992px) {
  .f-5-lg {
    font-size: 2.8rem; }
    .f-5-lg.airy {
      margin: 32px; }
      .f-5-lg.airy-force {
        margin: 32px !important; } }

@media (min-width: 1200px) {
  .f-5-xl {
    font-size: 2.8rem; }
    .f-5-xl.airy {
      margin: 40px; }
      .f-5-xl.airy-force {
        margin: 40px !important; } }

.f-6 {
  font-size: 3.4rem; }

@media (min-width: 0px) {
  .f-6-xs {
    font-size: 3.4rem; }
    .f-6-xs.airy {
      margin: 10px; }
      .f-6-xs.airy-force {
        margin: 10px !important; } }

@media (min-width: 576px) {
  .f-6-sm {
    font-size: 3.4rem; }
    .f-6-sm.airy {
      margin: 16px; }
      .f-6-sm.airy-force {
        margin: 16px !important; } }

@media (min-width: 768px) {
  .f-6-md {
    font-size: 3.4rem; }
    .f-6-md.airy {
      margin: 24px; }
      .f-6-md.airy-force {
        margin: 24px !important; } }

@media (min-width: 992px) {
  .f-6-lg {
    font-size: 3.4rem; }
    .f-6-lg.airy {
      margin: 32px; }
      .f-6-lg.airy-force {
        margin: 32px !important; } }

@media (min-width: 1200px) {
  .f-6-xl {
    font-size: 3.4rem; }
    .f-6-xl.airy {
      margin: 40px; }
      .f-6-xl.airy-force {
        margin: 40px !important; } }

.f-7 {
  font-size: 3.8rem; }

@media (min-width: 0px) {
  .f-7-xs {
    font-size: 3.8rem; }
    .f-7-xs.airy {
      margin: 10px; }
      .f-7-xs.airy-force {
        margin: 10px !important; } }

@media (min-width: 576px) {
  .f-7-sm {
    font-size: 3.8rem; }
    .f-7-sm.airy {
      margin: 16px; }
      .f-7-sm.airy-force {
        margin: 16px !important; } }

@media (min-width: 768px) {
  .f-7-md {
    font-size: 3.8rem; }
    .f-7-md.airy {
      margin: 24px; }
      .f-7-md.airy-force {
        margin: 24px !important; } }

@media (min-width: 992px) {
  .f-7-lg {
    font-size: 3.8rem; }
    .f-7-lg.airy {
      margin: 32px; }
      .f-7-lg.airy-force {
        margin: 32px !important; } }

@media (min-width: 1200px) {
  .f-7-xl {
    font-size: 3.8rem; }
    .f-7-xl.airy {
      margin: 40px; }
      .f-7-xl.airy-force {
        margin: 40px !important; } }

.f-8 {
  font-size: 4.4rem; }

@media (min-width: 0px) {
  .f-8-xs {
    font-size: 4.4rem; }
    .f-8-xs.airy {
      margin: 10px; }
      .f-8-xs.airy-force {
        margin: 10px !important; } }

@media (min-width: 576px) {
  .f-8-sm {
    font-size: 4.4rem; }
    .f-8-sm.airy {
      margin: 16px; }
      .f-8-sm.airy-force {
        margin: 16px !important; } }

@media (min-width: 768px) {
  .f-8-md {
    font-size: 4.4rem; }
    .f-8-md.airy {
      margin: 24px; }
      .f-8-md.airy-force {
        margin: 24px !important; } }

@media (min-width: 992px) {
  .f-8-lg {
    font-size: 4.4rem; }
    .f-8-lg.airy {
      margin: 32px; }
      .f-8-lg.airy-force {
        margin: 32px !important; } }

@media (min-width: 1200px) {
  .f-8-xl {
    font-size: 4.4rem; }
    .f-8-xl.airy {
      margin: 40px; }
      .f-8-xl.airy-force {
        margin: 40px !important; } }

.f-9 {
  font-size: 4.8rem; }

@media (min-width: 0px) {
  .f-9-xs {
    font-size: 4.8rem; }
    .f-9-xs.airy {
      margin: 10px; }
      .f-9-xs.airy-force {
        margin: 10px !important; } }

@media (min-width: 576px) {
  .f-9-sm {
    font-size: 4.8rem; }
    .f-9-sm.airy {
      margin: 16px; }
      .f-9-sm.airy-force {
        margin: 16px !important; } }

@media (min-width: 768px) {
  .f-9-md {
    font-size: 4.8rem; }
    .f-9-md.airy {
      margin: 24px; }
      .f-9-md.airy-force {
        margin: 24px !important; } }

@media (min-width: 992px) {
  .f-9-lg {
    font-size: 4.8rem; }
    .f-9-lg.airy {
      margin: 32px; }
      .f-9-lg.airy-force {
        margin: 32px !important; } }

@media (min-width: 1200px) {
  .f-9-xl {
    font-size: 4.8rem; }
    .f-9-xl.airy {
      margin: 40px; }
      .f-9-xl.airy-force {
        margin: 40px !important; } }

.f-10 {
  font-size: 5.2rem; }

@media (min-width: 0px) {
  .f-10-xs {
    font-size: 5.2rem; }
    .f-10-xs.airy {
      margin: 10px; }
      .f-10-xs.airy-force {
        margin: 10px !important; } }

@media (min-width: 576px) {
  .f-10-sm {
    font-size: 5.2rem; }
    .f-10-sm.airy {
      margin: 16px; }
      .f-10-sm.airy-force {
        margin: 16px !important; } }

@media (min-width: 768px) {
  .f-10-md {
    font-size: 5.2rem; }
    .f-10-md.airy {
      margin: 24px; }
      .f-10-md.airy-force {
        margin: 24px !important; } }

@media (min-width: 992px) {
  .f-10-lg {
    font-size: 5.2rem; }
    .f-10-lg.airy {
      margin: 32px; }
      .f-10-lg.airy-force {
        margin: 32px !important; } }

@media (min-width: 1200px) {
  .f-10-xl {
    font-size: 5.2rem; }
    .f-10-xl.airy {
      margin: 40px; }
      .f-10-xl.airy-force {
        margin: 40px !important; } }
