[class^="ci-icon-"], [class*=" ci-icon-"] {
  font-family: 'CaptainIcon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1; }
